body {
    font-family: 'Mulish', sans-serif !important;
    background-color: #1D2225;
    color: white;
}

.container {
    margin: 0 auto;
    background-color: #252526;
    /* debug */
    border: 2px solid #FFC107;
    border-radius: 20px;
}

.debug {
    border: 1px solid red;
}